@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  @keyframes angleSpin {
    0% {
      --angle: 0turn;
    }
    100% {
      --angle: 1turn;
    }
  }

  .text-balance {
    text-wrap: balance;
  }
}
