@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

[class^="prose"] {
  pre {
    @apply overflow-x-auto border border-slate-200 dark:border-zinc-800 shadow-slate-200 dark:shadow-zinc-800;
    box-shadow: 0 3px 0 0 var(--tw-shadow-color);
  }
  img[align="center"] {
    @apply mx-auto;
  }
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-200 dark:bg-zinc-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300 dark:bg-zinc-700;
}

@screen sm {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
